@font-face {
    font-family: 'Adumu';
    src: url('../public/assets/fonts/adumu.ttf') format('truetype');
}



.talents{
    font-family: Montserrat;
}
.loginHeading, .loginHeading span {
    font-family: 'Adumu';
}
.loginHeading span{
    color: #FF9434;
}
html{
    margin: 0;
    padding: 0;
}
html *{
    font-family: Montserrat;
    box-sizing: border-box;
}
body *{
    font-family: Montserrat;
}
h1, h2, h3, h4, h5, h6{
    font-family: Montserrat;
}

.login, .register{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('../public/images/hero-bg.png');
    background-position: center center ;
    background-size: cover;
    
}

.login:before, .register:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(0, 0, 102, 0.665);
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    /* justify-content: center; */
}

.loginFooterBall{
    width: 200px;
    position: fixed;
    right: -80px;
    bottom: 0;
}
.login input, .register input, select{
    background-color: #EBF1FE; 
    color: #000066;
    font-weight: bold;
    border-radius: 8px;
}
.login input::placeholder, select::placeholder{
    color: #BEBEFF;
}
